@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Dancing+Script");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url("../images/mf1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }
  @media screen and (min-width: 2000px) {
    body {
      background-size: 100% auto; } }

#navigation {
  background-color: #CCC9C7;
  position: absolute;
  height: 50px;
  width: 100%; }
  #navigation ul {
    display: flex;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    height: 100%; }
    #navigation ul li {
      height: 100%;
      align-self: center; }
      #navigation ul li a {
        display: flex;
        height: 100%;
        align-self: center;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        width: 100%;
        height: 100%; }

#name_container {
  position: center;
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  #name_container #name {
    opacity: 1 !important;
    font-family: 'Amatic SC', cursive;
    font-size: 10vh;
    text-align: center; }
  #name_container #name_content {
    opacity: 1 !important;
    font-family: 'Amatic SC', cursive;
    font-size: 10vh;
    text-align: center; }
